@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* Base */
html,
body,
#root  {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.component-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.component-content {
  border-radius: 8px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  align-self: stretch;
  flex-wrap: wrap;
  background-color: #F4F4F4;
  position: relative;
}

a {
  text-decoration: none;
}

/* States */
.hidden {
  display: none;
}

/* App component */
.App {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

/* Home component */
.Home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-description {
  max-width: 800px;
}

.Home-link {
  background-color: #212121;
  margin: 20px 15px 0 0;
}

.Home-link:hover {
  background-color: #654FF0;
}

/* Header component */
.app-header {
  margin-bottom: 30px;
  width: 100%;
}

.app-header-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.app-header-title {
  font-size: 36px;
  font-weight: 300;
  color: #212121;
  margin: 0 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app-header-title-light {
  color: #C2C2C2;
  padding-left: 10px;
}

.app-header-description {
  width: 60%;
  margin: 15px 0;
}

/* Icon component */
.icon {
  transition: 0.5s all;
}

.icon-xs {
  height: 14px;
}

.icon-s {
  height: 22px;
}

.icon-m {
  height: 34px;
}

.icon-l {
  height: 50px;
}     

.icon-xl {
  height: 90px;
}

.icon-xxl {
  width: 110px;
}

.icon-xxxl { 
  width: 170px;    
}

.benchmark-label {
  background-color: #4CCC7F;
}

.benchmark-label span {
  margin-right: 7px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.toolbar-button {
  margin-left: 20px;
  align-self: flex-end;
  background-color: #5B5B5B;
}

.toolbar-button:hover {
  background-color: #A599FF;
}

.drop-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-info-hidden {
  display: none;
}

.drop-info span {
  color: #5B5B5B;
  margin-top: 10px;
}

.image-editor-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.image-editor-buffer {
  display: none;
}

.info-label {
  background-color: #D8D8D8;
  font-size: 18px;
  color: #212121;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  cursor: pointer;
}

.info-label span {
  margin-left: 20px;
}

.info-label-hidden {
  position: absolute;
  bottom: 30px;
  right: -999px;
}

.label {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: 0.1s all;
  user-select: none; 
}

.label img {
  user-select: none; 
}

.label-small {
  padding: 10px;
  font-size: 14px;
}

.label-medium {
  padding: 15px;
  font-size: 14px;
}

.label-large {
  padding: 20px;
  font-size: 18px;
}

.label-square {
 width: 70px;
 height: 70px;
 font-size: 18px;
}

.benchmark-label {
  background-color: #4CCC7F;
}

.benchmark-label span {
  margin-right: 7px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.toolbar-button {
  align-self: flex-end;
  background-color: #5B5B5B;
}

.toolbar-button:hover {
  background-color: #A599FF;
}

.uploaded-image {
  flex-grow: 1;
  max-width: 30%;
  margin: 1%;
}

.image-container {
  overflow-x: hidden;
  overflow-y: scroll;
}

.drop-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-info-hidden {
  display: none;
}

.drop-info span {
  color: #5B5B5B;
  margin-top: 10px;
}

.spinner {
  border: 6px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wasm-mode,
.js-mode {
  margin-left: 25px;
}

.wasm-mode span,
.js-mode span {
  margin-right: 5px;
}

.wasm-mode {
  background-color: #633df8;
}

.js-mode {
  background-color: #fecb00;
}

.Webcam-video {
  display: none;
}

.Webcam-canvas {
  max-width: 50%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fps-label {
  background-color: #4CCC7F;
  cursor: unset;
}

.webcam-icon {
  cursor: pointer;
}

.webcam-icon-inactive {
  cursor: pointer;
  opacity: 0.2;
}

.webcam-icon-inactive:hover {
  opacity: 0.6;
}

.webcam-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 50px;
  background-color: #D8D8D8;
  border-radius: 8px;
}

.webcam-error span {
  margin-top: 15px;
}

.gh-link {
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gh-link:link,
.gh-link:visited,
.gh-link:active {
  color: #212121;
}

.gh-link:hover {
  color: #000;
}

.gh-link span:after {
  content: "\00a0 ";
}

.has-square {
  border: 4px solid #4CCC7F;
}

@media only screen 
and (max-device-width : 1024px)  {
  .app-header-title {
    font-size: 30px;
    width: 100%;
  }
  .Home-wrapper {
    padding: 100px;
  }
  .icon-xxl {
    width: 80px;
  }
  .label-small {
    align-self: flex-end;
    margin-top: 20px;
  }
  .app-header-top {
    flex-wrap: wrap;
  }
}

@media only screen 
and (max-device-width : 767px) {
  .icon-xxl {
    width: 60px;
  }
  .label-small {
    width: 45%;
    padding: 10px 0;
    font-size: 10px;
  }
  .component-content {
    flex-direction: column;
  }
  .component-content.image-container {
    flex-direction: row;
  }
  .info-label {
    right: 0px;
  }
  .info-label-hidden {
    right: -999px;
  }
  .toolbar-button {
    margin-top: 20px;
  }
  .app-header-top {
    justify-content: space-between;
  }
}